<template>
    <div id="root">
        <main>
            <title-component></title-component>
            <div class="container">
                <div class="notes-wrapper row">
                    <div class="note newNote col-12 col-md-6 col-12 col-md-6 col-xl-4">
                        <div class="note-inner">

                            <h3>Add A New Note</h3>
                            <form id="addNewNote" @submit.prevent="addNote">
                                <label>
                                    Title:
                                    <input type="text" v-model="currentNoteTitle"></input>
                                    <span class="error" v-if="noteTitleError">Please enter a title</span>
                                </label>
                                <label>
                                    Note:
                                    <textarea v-model="currentNoteCopy"></textarea>
                                    <span class="error" v-if="noteCopyError">Please enter a note</span>
                                </label>
                                <input type="submit" value="Add Note"/>
                            </form>
                        </div>
                    </div>
                    <div class="note col-12 col-md-6 col-xl-4"
                         v-for="note in notes"
                    >
                        <div class="note-inner">
                            <h3>{{note.title}}</h3>
                            <h4>{{note.date}}</h4>
                            <p v-html="note.copy"></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    const moment = require('moment');

    import Title from './Title.vue';

    export default {
        name: 'Main',
        components: {
            'title-component': Title
        },
        data() {
            return {
                currentNoteTitle: '',
                currentNoteCopy: '',
                noteCopyError: false,
                noteTitleError: false,
                notes: [
                ],
            };
        },
        methods: {
            addNote() {
                var newNote = {
                    title: this.currentNoteTitle,
                    copy: this.currentNoteCopy.replace(/\n/g, "</br>"),
                    date: moment().format('Do MMMM YY, h:mma')
                };

                if(this.currentNoteTitle == ''){
                    this.noteTitleError = true;
                }else{
                    this.noteTitleError = false;
                }
                if(this.currentNoteCopy == ''){
                    this.noteCopyError = true;
                }else{
                    this.noteCopyError = false;
                }

                if(this.noteCopyError === false || this.noteTitleError === false){
                    this.notes.unshift(newNote);
                    this.currentNoteTitle = '';
                    this.currentNoteCopy = '';
                }

            }
        }

    };
</script>
