@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
    background: #eeeeee;
    font-family: 'Merienda', cursive;
    h1 {
        text-align: center;
        margin: 50px 0 35px;
    }
}

.notes-wrapper {
    margin-bottom: 50px;

    h2 {
        text-align: center;
    }
    .note {
        .note-inner {
            background: #fff9c4;
            -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
            padding: 15px;
            margin-bottom: 30px;
            h4{
                font-size: 10px;
                opacity: 0.8;
            }
            p{
                font-size:12px;
            }
        }
    }
    #addNewNote {
        label{
            width:100%;
            margin-bottom: 15px;
        }
        input[type='text'],
        textarea
        {
            background: rgba(255,255,255,0.3);
            border: none;
            border-bottom: solid 1px #c8c8c8;
            display:block;
            width:100%;
        }
        input[type='submit']{
            width: 100%;
            background: #aeaeae;
            color: white;
            border:none;
            padding:5px;
        }
        span.error{
            font-size: 10px;
            color: red;
        }
    }
}